/* https://kimminseoung.github.io/PortFolio/ */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "42dot Sans", sans-serif;
  font-size: 20px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.title {
  color: #303133;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.divider {
  width: 380px;
  height: 2px;
  margin: 15px auto;
}
.header .inner {
  max-width: 1300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header .inner .logo a img {
  width: 50px;
  border-radius: 50%;
  opacity: 0.9;
}
.header .inner .header-menu .menu-list {
  display: flex;
  background-color: rgba(88, 86, 86, .3);
  border: none;
  border-radius: 0 0 15px 15px;
}

.header .inner .header-menu .menu-list li {
  padding: 20px;
  transition: 1s;
}
.header .inner .header-menu .menu-list li.mouseover {
  padding: 20px;
  background-color: rgba(85, 86, 85, 1);
  border: none;
}
.header .inner .header-menu .menu-list-intro.mouseover {
  padding: 20px;
  border: none;
  border-radius: 0 0 0 15px;
}
.header .inner .header-menu .menu-list-contact.mouseover {
  padding: 20px;
  border: none;
  border-radius: 0 0 15px 0;
}
.header .inner .header-menu .menu-list li a {
  padding: 10px 20px;
  color: #fff;
  font-weight: 450;
  transition: 0.4s;
}
.header .inner .header-menu .menu-list li a:hover {
  color: #191cc2;
  padding: 10px 20px;
}
.header .btn-hamburger {
  display: none;
}
.header .btn-hamburger span {
  display: block;
}


.intro {
  height: 100vh;
  width: 100%;
  background-image: url("/My_website/image/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.intro .inner {
  width: 800px;
  margin: 0 auto;
  padding: 200px 45px 0;
  text-align: center;
  color: #fff;
}

.intro .inner .introduce {
  font-size: 65px;
  font-weight: 600;
  color: #191cc2;
}
.intro .inner h2 {
  font-size: 40px;
  line-height: 75px;
}
.about {
  padding: 150px 0 60px;
  background-color: rgb(198, 202, 202);
}
.about .inner {
  display: flex;
  justify-content: space-evenly;
  margin: 150px auto 80px;
}
.about .inner .flipcard {
  width: 300px;
  height: 450px;
  border: none;
  border-radius: 10px;
  perspective: 1000px;
  transform: translateX(-600px);
  opacity: 0;
  transition: 1s;
}
.about .inner .flipcard.second {
  transform: translateX(600px);
}
.about.show .inner .flipcard, 
.about.show .inner .flipcard.second {
  transform: translateX(0px);
  opacity: 1;
}

.about .inner .flipcard .card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
  
}
.about .inner .flipcard:hover .card_inner {
  transform: rotateY(180deg);
}
.about .inner .flipcard .card_inner .card_back {
  transform: rotateY(-180deg);
}
/* .about .inner .flipcard:hover .card_inner {
  transform: rotateY(180deg);
}
.about .inner .flipcard .card_inner .card_back {
  transform: rotateY(-180deg);
} */
.about .inner .flipcard .card_inner .card_front,
.about .inner .flipcard .card_inner .card_back {
  width: 100%;
  height: 100%;
  border: 5px solid #6a6a72;
  border-radius: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
  backface-visibility: hidden;
  background-color: #f7f7f7;
  color: black;
  padding: 25px;
  line-height: 1.5;
  word-break: keep-all;
  /* z-index: 2; */
}


.about .inner .flipcard .card_inner .card_front img:nth-child(1) {
  width: 60%;
  display: block;
}
.about .inner .flipcard .card_inner .card_front img:nth-child(2) {
  width: 60%;
  display: block;
  border-radius: 50%;
}
.about .inner .flipcard .card_inner .card_front h2 {
  font-size: 30px;
  text-align: center;
}
.about .inner .flipcard.second .card_inner .card_front h2 {
  font-size: 24px;
  text-align: center;
  /* word-break: keep-all; */
}
.about .inner .flipcard .card_inner .card_back {
  font-size: 24px;
  text-align: center;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 150px 0 150px;
}
.skill .inner {
  width: 500px
}
.skill .title {
  margin-bottom: 50px;
}
.skill h2 {
  margin: 80px;
  color: #303133;
  text-align: center;
  font-size: 30px;
}
.skill .skill__wrapper .skill__img {
  display: flex;
  justify-content: space-around;
}
.skill .skill__wrapper .skill__img img:hover {
  transform: rotate(360deg);
}

.skill .skill__wrapper .skill__img + .skill__img {
  margin-top: 50px;
}

.project {
  padding: 50px 0 100px;
  color: #272626; 
  background-color: rgb(233, 237, 240)
}
.project .inner {
width: 80%;
margin: 0 auto;
}
.project .inner .title {
  margin: 150px;
}
.project .inner .wrapper {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.project .inner .wrapper .pj-list {
  width: calc(50% - 100px);
  min-width: 280px;
  height: auto;
  margin: 30px 0;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgb(198, 214, 233);
  border-radius: 10px;
  opacity: 0;
  transition: 3s;
}
.project.show .inner .wrapper .pj-list {
  opacity: 1;
}
.project .inner .wrapper .pj-list img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.project .inner .wrapper .pj-list h2 {
  font-size: 34px;
  font-weight: 650;
}
.project .inner .wrapper .pj-list h4 {
  font-size: 18px;
  font-weight: 500;
}
.project .inner .wrapper .pj-list ul li + li {
  margin-top: 20px
}
.project .inner .wrapper .pj-list ul li:nth-child(4) {
  padding: 0 20px;
}
.project .inner .wrapper .pj-list span{
  font-size: 18px;
  color: #6f6f6f;
}
.project .inner .wrapper .pj-list .btn {
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid #2a5b72;
  border-radius: 10px;
  background-color: #fff;
}
.project .inner .wrapper .pj-list .btn:hover {
  cursor: pointer;
}


.contact {
  color: #000;
}
.contact .inner {
  margin: 150px auto;
}
.contact .inner .title {
  margin: 100px;
}
.contact .inner .contact-info {
  width: 360px;
  text-align: center;
  margin: 0 auto;
}
.contact .inner .contact-info ul li {
  opacity: 0;
  transform: translateX(150px);
  transition: 0.6s;
}
.contact.show .inner .contact-info ul li {
  opacity: 1;
  transform: translateX(0px);
}
.contact.show .inner .contact-info ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.contact.show .inner .contact-info ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.contact.show .inner .contact-info ul li:nth-child(3) {
  transition-delay: 0.3s;
}

.contact .inner .contact-info ul li span {
  vertical-align: middle;
}
.contact .inner .contact-info li + li {
  margin-top: 20px;
}
.contact .inner .contact-info li a {
  display: block;
  position: relative;
  text-decoration: underline;
}
.contact .inner .contact-info li img {
  width: 30px;
  position: absolute;
  top: -4px;
  right: 0;
}

.footer {
  background: #272626;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .inner span {
  line-height: 10;
}
.to-top {
  width: 35px;
  height: 35px;
  background-color: #c5c5cc;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 8px;
  text-align: center;
  transition: 0.5s;
  opacity: 0.5;
  /* transform: translateX(100px); */
  z-index: 3;
}
.to-top .inner {
  width: 100%;
  height: 100%;
}
.to-top .inner a span{
  line-height: 35px;
}


#modal, #imageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;

  justify-content: center;
  align-items: center;
  display: none;
}
#modal .modal-content,
#imageModal .modal-content {
  background-color: #fff;
  border-radius: 8px;
}
#modal .modal-content {
  width: 60%;
}
#modal .modal-header,
#imageModal .modal-header {
  padding: 16px;
  background-color: #222;
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal .modal-header .btn-close,
#imageModal .modal-header .btn-close {
  font-size: 30px;
  cursor: pointer;
}
#modal .modal-header .btn-close:hover,
#imageModal .modal-header .btn-close:hover {
  color: #aaa;
}
#modal .modal-body,
#imageModal .modal-body {
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .inner {
    width: 80%;
    margin: 0 auto;
  }
  /* .title {
    font-size: 30px;
    font-weight: 500;
  } */
  .divider {
    width: 190px;
  }
  .header .btn-hamburger {
    display: block;
    position: fixed;
    right: 15px;
  }
  .header .btn-hamburger span{
    font-size: 30px;
    color: #fff;
  }
  .header .logo {
    display: none;
  }
  .header .inner .header-menu {
    flex-direction: column;
    top: 45px;
    right: 0;
    position: fixed;
    display: block;
    height: 0;
    overflow: hidden;
  }
  .header .inner .header-menu .menu-list {
    flex-direction: column;
  }
  .header .inner .header-menu.active {
    height: 100%;
    overflow: auto;
  }
  .header .inner .logo a img {
    display: none;
  }


  .intro {
    background-image: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro .inner {
    padding: 0 45px;
  }
  .intro .inner .introduce {
    font-size: 30px;
  }
  .intro .inner h2 {
    font-size: 20px;
    line-height: 75px;
  }

  .about {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  .about .title {
    margin-bottom: 70px;
  }
  .about .inner {
    flex-direction: column;
    row-gap: 50px;
    width: 80%;
    margin: 0 auto;

  }
  .about .inner .flipcard {
    width: 100%;
    min-width: 300px;
  }
  .about .inner .flipcard.second .card_inner .card_front h2,
  .about .inner .flipcard .card_inner .card_back  {
    font-size: 18px;
  }
  .project .inner .title {
    margin: 50px auto;
  }
  .contact .inner {
    margin: 200px auto;
  }
}