/* https://kimminseoung.github.io/PortFolio/ */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.title {
  color: #303133;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.divider {
  width: 380px;
  height: 2px;
  margin: 15px auto;
}
.header .inner {
  max-width: 1300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header .inner .logo a img {
  width: 50px;
  border-radius: 50%;
  opacity: 0.9;
}
.header .inner .header-menu .menu-list {
  display: flex;
  background-color: rgba(88, 86, 86, .3);
  border: none;
  border-radius: 0 0 15px 15px;
}
.header .inner .header-menu .menu-list li {
  padding: 20px;
  transition: 1s;
}
.header .inner .header-menu .menu-list li.mouseover {
  padding: 20px;
  background-color: rgb(236, 214, 88);
  border: none;
}
.header .inner .header-menu .menu-list-intro.mouseover {
  padding: 20px;
  border: none;
  border-radius: 0 0 0 15px;
}
.header .inner .header-menu .menu-list-project.mouseover {
  padding: 20px;
  border: none;
  border-radius: 0 0 15px 0;
}
.header .inner .header-menu .menu-list li a {
  padding: 10px 20px;
  color: #fff;
  font-weight: 450;
  transition: 0.4s;
}
.header .inner .header-menu .menu-list li a:hover {
  color: #191cc2;
  padding: 10px 20px;
}
.intro {
  height: 100vh;
  width: 100%;
  background-image: url("/My_website/image/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.intro .inner {
  width: 800px;
  margin: 0 auto;
  padding: 200px 45px 0;
  text-align: center;
  color: #fff;
}

.intro .inner .introduce {
  font-size: 55px;
  font-style: italic;
  font-weight: 500;
}
.intro .inner h2 {
  font-size: 35px;
  line-height: 75px;
}
.about {
  padding: 150px 0 60px;
}
.about .inner {
  display: flex;
  /* height: 350px; */
  justify-content: space-evenly;
  margin: 150px auto 80px;
}
.about .inner .flipcard {
  width: 300px;
  height: 450px;
  border: none;
  border-radius: 10px;
  perspective: 1000px;
}
.about .inner .flipcard .card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1.2s;
  transform-style: preserve-3d;
}
.about .inner .flipcard:hover .card_inner {
  transform: rotateY(540deg);
  
}

.about .inner .flipcard .card_inner .card_front,
.about .inner .flipcard .card_inner .card_back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-evenly;
  backface-visibility: hidden;
  background-color: #303133;
  
  z-index: 2;
}
.about .inner .flipcard .card_inner .card_back {
  transform: rotateY(-540deg);
}

.about .inner .flipcard .card_inner .card_front img {
  width: 80%;
  display: block;
  border-radius: 45%;
}
.about .inner .flipcard .card_inner .card_front h2 {
  font-size: 30px;
}
.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 150px 0; */
  background-color: #b4b7bd;
  padding: 150px 0 150px;
}
.learn .inner {
  width: 500px
}
.learn .title {
  margin-bottom: 50px;
}
.learn h2 {
  margin: 80px;
  color: #303133;
  text-align: center;
  font-size: 30px;
}
.learn .learn__wrapper .learn__img {
  display: flex;
  justify-content: space-around;
}
.learn .learn__wrapper .learn__img img:hover {
  transform: rotate(360deg);
}

.learn .learn__wrapper .learn__img + .learn__img {
  margin-top: 50px;
}

.project {
  padding: 50px 0 100px;
  color: #272626; /*제거할것*/
}
.project .inner {
width: 80%;
margin: 0 auto;
}
.project .inner .title {
  margin: 150px;
}
.project .inner .wrapper {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 50px;
}
.project .inner .wrapper .pj-list {
  max-width: 400px;
  height: auto;
  margin: 30px 50px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #bfd5f1;
  border-radius: 10px;
}
.project .inner .wrapper .pj-list img {
  width: 400px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.project .inner .wrapper .pj-list h2 {
  font-size: 34px;
  font-weight: 650;
}
.project .inner .wrapper .pj-list h4 {
  font-size: 18px;
  font-weight: 500;
}
.project .inner .wrapper .pj-list ul li + li {
  margin-top: 20px
}
.project .inner .wrapper .pj-list ul li:nth-child(4) {
  padding: 0 20px;
}
.project .inner .wrapper .pj-list span{
  font-size: 18px;
  color: #6f6f6f;
}
.project .inner .wrapper .pj-list .btn {
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid #2a5b72;
  border-radius: 10px;
  background-color: #fff;
}

.contact {
  color: #000;
}
.contact .inner {
  margin: 150px auto;
}
.contact .inner .title {
  margin: 100px;
}
.contact .inner .contact-info {
  width: 360px;
  text-align: center;
  margin: 0 auto;
}
.contact .inner .contact-info li + li {
  margin-top: 20px;
}
.contact .inner .contact-info li a {
  display: block;
  position: relative;
  text-decoration: underline;
}
.contact .inner .contact-info li img {
  width: 30px;
  position: absolute;
  top: -4px;
  right: 0;
}




.footer {
  background: #272626;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .inner span {
  line-height: 12;
}